.newsman-table {
	border: 1px solid #efefef;
	box-shadow: 3px 2px 2px #f4f4f4;
}

.newsman-table th {
	padding: 20px 20px 20px 20px;
}
.newsman-table th.nzm-child-config {
	text-align: right;
}

.newsman-tbl-fixed {
	table-layout: fixed;
}

.newsman-oauth td {
	padding: 3px 10px;
}

.newsman-sms-msg {
	width: 20%;
}

.newsman-table td.newsman-sms-status {
	width: 15%;
	vertical-align: top;
}

.newsman-table td.newsman-sms-status label {
	display: inline-block;
	padding: 7px 0 7px 7px;
	margin-right: 5px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.newsman-table input[type="text"].nzm-small-input,
.newsman-table input[type="number"].nzm-small-input,
.newsman-table .nzm-small-select {
	min-width: 250px;
}

.nzm-variable {
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	padding: 0;
	margin: 5px;
	cursor: pointer;
}

.nzm-label {
	cursor: pointer;
}

.nzm-multiple-select {
	min-width: 250px;
	height: 300px !important;
}

.newsman-paragraph {
	font-size: 11px;
	color: #6e6e6e;
}

p.nzm-description-error {
	color: #b72524;
}

.credentials-valid {
	color: #008000;
}

.credentials-invalid {
	color: #b72524;
}

/*tabs*/
.nzm-tabset {
	text-align: left;
	margin-right: 20px;
}

.nzm-tabset .wrap {
	margin-right: 0;
}

.nzm-tabset > input[type="radio"] {
	position: absolute;
	left: -200vw;
}

.tab-panels input[type="submit"], .tab-panels input[type="button"] {
	margin: 10px 0;
	background: #ad0100;
}

.nzm-tabset .tab-panel {
	display: block;
}

.nzm-tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.nzm-tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.nzm-tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.nzm-tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.nzm-tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.nzm-tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
	display: block;
}

.nzm-tabset > label {
	position: relative;
	display: inline-block;
	padding: 21px 21px 25px;
	border: 1px solid transparent;
	border-bottom: 0;
	cursor: pointer;
	font-weight: 600;
}

.nzm-tabset > label::after {
	content: "";
	position: absolute;
	left: 15px;
	bottom: 10px;
	width: 22px;
	height: 4px;
	background: #8d8d8d;
}

.nzm-tabset > label:hover,
.nzm-tabset > input:focus + label {
	color: #b72524;
}

.nzm-tabset > label:hover::after,
.nzm-tabset > input:focus + label::after,
.nzm-tabset > input:checked + label::after {
	background: #b72524;
}

.nzm-tabset > input:checked + label {
	border-color: #ccc;
	border-bottom: 1px solid #fff;
	margin-bottom: -1px;
	background: #fff;
}

.tab-panel {
	padding: 30px 0;
	border-top: 1px solid #ccc;
}

.tab-panels {
	text-align: left;
	background: #fff;
	padding: 15px 20px;
}

.tabset-img {
	text-align: center;
	padding: 20px 0;
}

#tab-oauth {
	text-align: center;
}

#tab-oauth .button {
	padding: 10px;
	margin: 10px;
}

.tab-panels input[type="text"] {
	min-width: 50%;
}

.tab-panels .form-table th {
	width: auto !important;
}

.tab-panels .newsman-tbl-fixed th {
	width: 200px !important;
}

/*tabs*/
